<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mu.edu.tr.tapputi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".out"></activity>
        <activity android:name=".evulation" />
        <activity android:name=".Info" />
        <activity android:name=".Help" />
        <activity android:name=".order" />
        <activity android:name=".ShouldPerfume" />
        <activity android:name=".SeasonalProducts" />
        <activity android:name=".AboutUs" />
        <activity android:name=".balik" />
        <activity android:name=".kova" />
        <activity android:name=".oglak" />
        <activity android:name=".yay" />
        <activity android:name=".akrep" />
        <activity android:name=".terazi" />
        <activity android:name=".basak" />
        <activity android:name=".aslan" />
        <activity android:name=".yengec" />
        <activity android:name=".ikizler" />
        <activity android:name=".boga" />
        <activity android:name=".koc" />
        <activity android:name=".burc" />
        <activity android:name=".Account" />
        <activity android:name=".discoverTab" />
        <activity android:name=".shoppingCartTab" />
        <activity android:name=".favoritesTab" />
        <activity android:name=".product" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>